<launch>
  <include file="$(find my_urdf_pkg)/launch/my_gazebo_world.launch"/>

  <rosparam file="$(find my_urdf_pkg)/config/config.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/my_ns" args="joint_state_controller
                                          joint_traj_controller"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/joint_states]</rosparam>
  </node>

  <include file="$(find my_robot_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
  </include>

  <include file="$(find my_robot_moveit_config)/launch/moveit_rviz.launch"> <arg name="config" value="true"/>
  </include>
</launch>
